$color__navy: #39424D;
$color__blue: #184E83;
$color__white: #fff;

$color__text--default: $color__navy;
$color__background: $color__navy;

$font--default: 'Roboto', Helvetica, Arial sans-serif;
$font--title: 'Dancing Script', cursive;

$font__size--brand: 30px;
$font__size--title: 42px;
$font__size--body: 16px;
$font__size--description: 13px;