@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Roboto");
a.link {
  color: #39424D;
  font-size: 18px; }
  a.link--back:before {
    content: "\f0a8";
    font-family: "FontAwesome";
    margin-right: 5px; }

button.btn {
  text-transform: uppercase;
  font-family: "Roboto", Helvetica, Arial sans-serif;
  border-radius: 0;
  padding: 8px 30px;
  margin-left: 10px; }
  button.btn.btn-positive {
    background: #184E83;
    color: #fff;
    border: 1px solid transparent; }
    button.btn.btn-positive:hover {
      background: #2068ae; }
  button.btn.btn-negative {
    background: #39424D;
    color: #fff;
    border: 1px solid #fff; }
    button.btn.btn-negative:hover {
      background: #4f5b6a; }
    button.btn.btn-negative--white {
      background: #fff;
      border-color: #184E83;
      color: #184E83; }

.banner {
  height: 400px;
  width: 100%;
  background: url("../images/banner.jpg");
  background-size: cover; }
  .banner__content {
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    width: 350px;
    height: 350px;
    margin-right: 10%;
    margin-top: 25px;
    padding: 50px;
    float: right; }
    .banner__content__title {
      font-size: 42px;
      text-align: center; }
    .banner__content__body {
      font-size: 13px;
      text-align: center; }
    .banner__content__button {
      margin-top: 20px;
      width: 100%; }

.divider {
  max-width: 1000px;
  width: 80%;
  background: #39424D;
  height: 2px;
  margin: 0 auto; }

.section {
  text-align: center;
  padding: 20px 20px 40px 20px; }
  .section--inverted {
    background: #39424D;
    color: #fff; }
    .section--inverted * {
      color: #fff; }
  .section__title {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px; }
  .section__description {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px; }
  .section__nav {
    margin: 20px 0 40px; }
    .section__nav ul {
      list-style: none; }
      .section__nav ul li {
        display: inline-block;
        margin-right: 30px;
        padding: 5px 0 10px; }
        .section__nav ul li.active {
          border-bottom: 3px solid #39424D; }
  .section__images {
    margin-top: 20px; }
    .section__images img {
      border-radius: 50%; }
  .section__button {
    margin-top: 20px; }

.footer {
  width: 100%;
  padding: 20px;
  background: #39424D;
  text-align: center; }
  .footer .btn {
    margin-right: 20px; }
  .footer__copyright {
    margin-top: 20px;
    display: inline-block;
    width: 100%; }
  .footer * {
    color: #fff; }

.nav-link {
  border-radius: 0; }
  .nav-link.active {
    border-bottom: 3px solid #39424D; }

.navbar {
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); }
  .navbar .navbar-brand {
    color: #39424D;
    font-family: "Dancing Script", cursive;
    font-size: 30px; }
    .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
      color: #39424D; }
  .navbar .navbar-text {
    color: #39424D; }
    .navbar .navbar-text a {
      color: #39424D; }
      .navbar .navbar-text a:hover, .navbar .navbar-text a:focus {
        color: #39424D; }
  .navbar .navbar-nav .nav-link {
    color: #39424D;
    border-radius: 0;
    margin: 0 0.25em; }
    .navbar .navbar-nav .nav-link:not(.disabled):hover, .navbar .navbar-nav .nav-link:not(.disabled):focus {
      color: #39424D; }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #fff;
    border-color: #fff; }
    .navbar .navbar-nav .dropdown-menu .dropdown-item {
      color: #39424D; }
      .navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .navbar .navbar-nav .dropdown-menu .dropdown-item:focus, .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
        color: #39424D;
        background-color: #fff; }
    .navbar .navbar-nav .dropdown-menu .dropdown-divider {
      border-top-color: #fff; }
  .navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item.active .nav-link:hover, .navbar .navbar-nav .nav-item.active .nav-link:focus, .navbar .navbar-nav .nav-item.show .nav-link, .navbar .navbar-nav .nav-item.show .nav-link:hover, .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #39424D;
    background-color: #fff; }
  .navbar .navbar-toggle {
    border-color: #fff; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background-color: #fff; }
    .navbar .navbar-toggle .navbar-toggler-icon {
      color: #39424D; }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #39424D; }
  .navbar .navbar-link {
    color: #39424D; }
    .navbar .navbar-link:hover {
      color: #39424D; }

@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #39424D; }
    .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #39424D; }
  .navbar-expend-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #39424D;
    background-color: #fff; } }
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #39424D; }
    .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #39424D; }
  .navbar-expend-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #39424D;
    background-color: #fff; } }
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #39424D; }
    .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #39424D; }
  .navbar-expend-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #39424D;
    background-color: #fff; } }
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #39424D; }
    .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #39424D; }
  .navbar-expend-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #39424D;
    background-color: #fff; } }
.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #39424D; }
  .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:hover, .navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #39424D; }
.navbar-expend .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #39424D;
  background-color: #fff; }

.product-detail {
  height: calc(100vh - 70px);
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0; }
  .product-detail__image {
    height: calc(100vh - 300px);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat; }
  .product-detail__name {
    margin-top: 60px; }
  .product-detail__rating, .product-detail__price {
    font-size: 20px;
    display: inline-flex;
    margin-right: 5px; }
  .product-detail__form {
    margin-top: 20px; }
    .product-detail__form .incrementer {
      padding-left: 5px;
      padding-right: 5px; }
      .product-detail__form .incrementer .fa {
        margin: 0 5px; }
    .product-detail__form #cart-button {
      width: 100%; }
  .product-detail .divider {
    width: 100%;
    margin: 40px 0; }

.all-products {
  max-width: 1000px;
  margin: 0 auto; }

.product {
  margin-bottom: 40px; }
  .product__title {
    font-size: 16px;
    color: #39424D; }
  .product__rating {
    font-size: 14px;
    display: inline-block;
    margin-left: 5px;
    color: #5a6879; }
  .product__image {
    height: 150px;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }
  .product__price {
    font-weight: bold;
    display: inline-block;
    color: #5a6879; }
  .product__desc {
    font-size: 11px;
    max-height: 60px;
    text-overflow: ellipsis;
    overflow: hidden; }

body {
  font-family: "Roboto", Helvetica, Arial sans-serif;
  color: #39424D; }

h1, h2 {
  font-family: "Dancing Script", cursive;
  color: #39424D;
  font-size: 42px; }

/*# sourceMappingURL=index.css.map */
